

body {
    background: #E8E8E8;
}

#vision-board {
    background-image: url(/img/background.png);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 850px;
    margin: 0 auto;
    overflow: auto;
    text-transform: uppercase;
    width: 1200px;
}

.block {
    float: left;
    width: 400px;
    box-sizing: border-box;
}

.small-block {
    height: 210px;
}

.large-block {
    height: 430px;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

